body {
    background-color:rgba(105, 105, 105, 0.301);
}

.Timebar {
    float:center;
    text-align: center;
    margin-left:5%;
    margin-right: 5%;
    color:rgba(255, 255, 255, 0.781);
}

.hidden {
    display: none;
}

#Bar {
    height: 3%;
    background-color:thistle;
    border-radius: 10px;
    width:100%
}

h4{
    color:cornsilk;
}

.game-status-text
{
    color:red;
    text-align: left;
    float: none;
}

.name-of-game{
    text-align: center;
    float:center;
}

.game-name{
    height: 50px ;
}

.container3 {
    float:center;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.795);
}

.game-pannel{
    height: 850px ;
}

.buttons {
    float:center;
    text-align: center;

}

.row{
    width: 100%;
}

.col {
    margin: 10%;
    text-align: left;
    background-color:rgba(128, 128, 128, 0.61);
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 0.671);
    color: rgba(255, 255, 255, 0.493);
    border-style:solid;
    padding: 2px;
    height:10%;
}

.right {
    float:right;
}

.health{
    background-color:red;
    border-radius: 5px;
    border: 1px black;
    border-style:solid;
    color:black;
}
.coin {
    background-color:yellow;
    border-radius: 5px;
    border: 1px black;
    border-style:solid;
    color:black;
}

.deaths{
    background-color:green;
    border-radius: 5px;
    border: 1px black;
    border-style:solid;
    color:black;    
}

#team1-players, #team2-players{
    padding: 2px;
}

.btn_control{
    background-color: Transparent;
    color: rgba(255, 255, 255, 0.671);
    border: 1px solid rgba(255, 255, 255, 0.671);
    border-radius: 8px; 
}

.btn_control:active {
    background-color: #b9b4b4;
    }

#btnCancel{
    background-color: Transparent;
    color: #ec2323;
    border: 2px solid #e62323;
    border-radius: 8px; 
    /* border-color */
}

#btnCancel:active {
    background-color: #b9b4b4;
}